<style ref="stylesheet">
    @import url('/css/common/components/page.css');
    @import url('/css/user/ProfileEdit.css');
</style>

<div class="page-container-user">
    <div class="page-content-user">
        <div class="page-card-user">
            <h1 class="page-title-user">프로필 수정</h1>
            <% if (locals.error) { %>
                <div class="alert-danger-user">
                    <%= error %>
                </div>
                <% } %>
                    <form class="form-user" action="/user/profile/edit" method="POST">
                        <div class="form-group-user">
                            <label class="form-label-user" for="username">사용자 ID</label>
                            <input type="text" id="username" name="username" class="form-control-user"
                                value="<%= user.username %>" readonly>
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="name">이름</label>
                            <input type="text" id="name" name="name" class="form-control-user" value="<%= user.name %>"
                                required>
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="email">이메일</label>
                            <input type="email" id="email" name="email" class="form-control-user"
                                value="<%= user.email %>" required>
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="department">학과</label>
                            <input type="text" id="department" name="department" class="form-control-user"
                                value="<%= user.department ? user.department.name : '' %>">
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="currentPassword">현재 비밀번호</label>
                            <input type="password" id="currentPassword" name="currentPassword" class="form-control-user"
                                placeholder="현재 비밀번호를 입력하세요">
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="newPassword">새 비밀번호</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control-user"
                                placeholder="새 비밀번호를 입력하세요">
                        </div>
                        <div class="form-group-user">
                            <label class="form-label-user" for="confirmPassword">새 비밀번호 확인</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control-user"
                                placeholder="새 비밀번호를 다시 입력하세요">
                        </div>
                        <div class="form-actions-user">
                            <button type="submit" class="btn-primary-user">저장</button>
                            <a href="/user/profile" class="btn-secondary-user">취소</a>
                        </div>
                    </form>
        </div>
    </div>
</div>
